powder.def
powder.pref
*.lua
*.lib
*.exe
*.dmg
*.zip
*.dll
*.txt
*.gz
*.out
*The-Powder-Toy*
*jacob1smod*
/stamps/
/saves/
/tabs/
/ipch/
/font/
/build/obj/
/build2/
/updatepackager/
/Debug/
/Release/
/Release-legacy/
/Normal/
/official/
/OpenGL/
tpt-libs/*
/build/stamps/*
/includes/SDL/*
/includes/lua5.1/*
/includes/bzlib.h
/includes/fftw3.h
/includes/pthread.h
/includes/regex.h
/includes/sched.h
