.directory
powder.def
powder.pref
elements.txt
luacode.txt
newluacode.txt
stdout.txt
stderr.txt
gmon.out
*.*.orig
*~
*.log
*.*sdf
*.sln*
*.suo
*.vcxproj*
*.lua
*.*.swp
*.lib
/stamps/
/saves/
/tabs/
/ipch/
/font/
/build2/
/Debug/
/Release/
/Normal/
build/stamps/*
build/The-Powder-Toy*