*.*.swp
.directory
powder.def
powder.pref
gmon.out
*.*.orig
build/stamps/*
*~
*.pyc
utils/*
*.log
src/python/stdlib/*
/Release/
/stamps/
/stamps2/
/Debug/
/ipch/
/font/
*.*sdf
*.sln*
*.suo
*.vcxproj*
*.lua
elements.txt
luacode.txt
newluacode.txt
stdout.txt
build/The-Powder-Toy*